In [1]:
import pandas as pd

In [2]:
df2=pd.read_csv("management.csv")

In [3]:
df2

,recno,ciphertext,shortName,title,description,portrait,location,hourlyRate,avgFeedbackScore,lastActivity,...,profileUid,communityCertificates,ptcUids,isVetted,isServiceProfile,descriptionSanitized,shortNameSanitized,titleSanitized,topRatedStatusEx,uid
0,12396926,~01f4269a8b647cd301,Jason V.,Expert WordPress Developer,Hello! Welcome to my profile!\n\nMy name is Ja...,https://www.upwork.com/profile-portraits/c1W4a...,"{'country': 'United States', 'city': 'Chicago'...","{'currencyCode': 'USD', 'amount': 60}",4.925208,2021-03-31T00:00:00.000Z,...,NaN,NaN,NaN,False,False,Hello! Welcome to my profile!\n\nMy name is Ja...,Jason V.,Expert WordPress Developer,top_rated,760154917642280960
1,24245014,~01a44f7015ca54d3a1,Miranda S.,Social Media Manager,I am a Social Media Manager who specializes in...,https://www.upwork.com/profile-portraits/c1ZYi...,"{'country': 'United States', 'city': 'Etna', '...","{'currencyCode': 'USD', 'amount': 20}",4.675676,2021-04-03T00:00:00.000Z,...,NaN,NaN,NaN,False,False,I am a Social Media Manager who specializes in...,Miranda S.,Social Media Manager,not_eligible,1092175316049911808
2,16266250,~013e11946c6e8f2970,Gagan S J.,Solution Architect,More than 25 years in IT with 20 years in US h...,https://www.upwork.com/profile-portraits/c1m2F...,"{'country': 'United States', 'city': 'Princeto...","{'currencyCode': 'USD', 'amount': 65}",0.000000,2021-04-03T00:00:00.000Z,...,NaN,NaN,NaN,False,False,More than 25 years in IT with 20 years in US h...,Gagan S J.,Solution Architect,not_eligible,877547557945921536
3,25355388,~012e271150ca3b3805,Roxana L.,"Procurement, Logistics and Supply Chain profes...",I work FAST - I am COST EFFICIENT - I deliver ...,https://www.upwork.com/profile-portraits/c1MjW...,"{'country': 'United States', 'city': 'Cramerto...","{'currencyCode': 'USD', 'amount': 70}",4.916684,2021-02-12T00:00:00.000Z,...,NaN,NaN,NaN,False,False,I work FAST - I am COST EFFICIENT - I deliver ...,Roxana L.,"Procurement, Logistics and Supply Chain profes...",not_eligible,1120080849324933120
4,27938927,~01fa52414ec2401ce6,John M.,"3d generalist, post production artist and Vide...","I am a 3D artist, animator, and designer with ...",https://www.upwork.com/profile-portraits/c1C-S...,"{'country': 'United States', 'city': 'Broken A...","{'currencyCode': 'USD', 'amount': 50}",5.000000,2021-03-30T00:00:00.000Z,...,NaN,NaN,NaN,False,False,"I am a 3D artist, animator, and designer with ...",John M.,"3d generalist, post production artist and Vide...",top_rated,1182095485956665344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5818,5891854,~01fc717302ec8492ba,Megan D.,Web Research/Content Curation/Data Entry/Socia...,"Extremely driven, yet easy-going gal who refus...",https://www.upwork.com/profile-portraits/c1bK7...,"{'country': 'United States', 'city': 'San Fran...","{'currencyCode': 'USD', 'amount': 22.37}",4.574029,2021-03-28T00:00:00.000Z,...,NaN,NaN,NaN,False,False,"Extremely driven, yet easy-going gal who refus...",Megan D.,Web Research/Content Curation/Data Entry/Socia...,top_rated,468936529388593152
5819,10917540,~013901fe961b00079e,Austin V.,Product Manager,Experienced in building and growing digital pl...,https://www.upwork.com/profile-portraits/c1L8c...,"{'country': 'United States', 'city': 'Phoenix'...","{'currencyCode': 'USD', 'amount': 100}",0.000000,2021-04-01T00:00:00.000Z,...,NaN,NaN,NaN,False,False,Experienced in building and growing digital pl...,Austin V.,Product Manager,not_eligible,708541558959837184
5820,15238987,~01096d2d0b13342991,Eric M.,Web Developer/Designer And Graphic Designer,4 YEARS experience in Wordpress / Shopify / D...,https://www.upwork.com/profile-portraits/c10xf...,"{'country': 'United States', 'city': 'Hilliard...","{'currencyCode': 'USD', 'amount': 25}",4.451507,2021-04-01T00:00:00.000Z,...,NaN,NaN,NaN,False,False,4 YEARS experience in Wordpress / Shopify / D...,Eric M.,Web Developer/Designer And Graphic Designer,not_eligible,850555305949581312
5821,24605186,~01c579f9d60873260f,Kristina A.,"Voice Over Talent, video editing, video produc...",A musician from birth. I studied music educati...,https://www.upwork.com/profile-portraits/c1JjD...,"{'country': 'United States', 'city': 'Leesburg...","{'currencyCode': 'USD', 'amount': 60}",5.000000,2021-01-27T00:00:00.000Z,...,NaN,NaN,NaN,False,False,A musician from birth. I studied music educati...,Kristina A.,"Voice Over Talent, video editing, video produc...",not_eligible,1100837801904300032
5822,7862035,~01847228d891105522,Ashley C.,Print and Digital Layout Designer,"Hello, I'm Ashley, a professional designer and...",https://www.upwork.com/profile-portraits/c1qIz...,"{'country': 'United States', 'city': 'Eugene',...","{'currencyCode': 'USD', 'amount': 25}",4.951186,2021-04-01T00:00:00.000Z,...,NaN,NaN,NaN,False,False,"Hello, I&#039;m Ashley, a professional designe...",Ashley C.,Print and Digital Layout Designer,top_rated,603078046414262272

In [4]:
pd.set_option("display.max_columns",False)

In [5]:
nans=df2.isna().sum().sort_values(ascending=False)
pct=nans*100/df2.shape[0]
uniques=df2.nunique()
noted=pd.concat([nans,pct,uniques,df2.dtypes],axis=1)
noted.columns=['Null count','Null percentage','n_unique values','data_type']
noted

                       Null count  Null percentage  n_unique values data_type
assignments                  5823            100.0                0   float64
profileDebugInfo             5823            100.0                0   float64
timezone                     5823            100.0                0   float64
recommendationDetails        5823            100.0                0   float64
recommendationReasons        5823            100.0                0   float64
...                           ...              ...              ...       ...
billedAssignments               0              0.0              278     int64
ciphertext                      0              0.0             3795    object
totalHourlyJobs                 0              0.0              165     int64
totalFpJobs                     0              0.0              229     int64
uid                             0              0.0             3795     int64

[76 rows x 4 columns]

In [6]:
filt=noted["Null percentage"]>=50

In [7]:
cols=noted[filt].index

In [8]:
df2.drop(cols,axis=1,inplace=True)

In [9]:
df2

         recno           ciphertext  ... topRatedStatusEx                  uid
0     12396926  ~01f4269a8b647cd301  ...        top_rated   760154917642280960
1     24245014  ~01a44f7015ca54d3a1  ...     not_eligible  1092175316049911808
2     16266250  ~013e11946c6e8f2970  ...     not_eligible   877547557945921536
3     25355388  ~012e271150ca3b3805  ...     not_eligible  1120080849324933120
4     27938927  ~01fa52414ec2401ce6  ...        top_rated  1182095485956665344
...        ...                  ...  ...              ...                  ...
5818   5891854  ~01fc717302ec8492ba  ...        top_rated   468936529388593152
5819  10917540  ~013901fe961b00079e  ...     not_eligible   708541558959837184
5820  15238987  ~01096d2d0b13342991  ...     not_eligible   850555305949581312
5821  24605186  ~01c579f9d60873260f  ...     not_eligible  1100837801904300032
5822   7862035  ~01847228d891105522  ...        top_rated   603078046414262272

[5823 rows x 52 columns]

In [10]:
import numpy as np

In [11]:
df2[df2["totalRevenue"].isna()]

         recno           ciphertext  ... topRatedStatusEx                  uid
34    25759980  ~0127d096c213542549  ...        top_rated  1130380642486513664
37    33499360  ~01ee381aed20674756  ...     not_eligible  1284328642968592384
46    24726090  ~015f21e6b7a55bc3dc  ...     not_eligible  1103897879317008384
48    19563366  ~01a394bf5c86bfefa9  ...        top_rated   966807571807223808
55    10858892  ~01feb88c6b7d9a08cb  ...        top_rated   706558410778488832
...        ...                  ...  ...              ...                  ...
5772   5506373  ~01f956ef0b094ee618  ...         eligible   442354198255542272
5781   4380714  ~01c5d001f4eb966722  ...        top_rated   424324184135548928
5795  10758135  ~01d86fc218bdf3c0c4  ...        top_rated   702894778761494528
5813  25054246  ~01bfa592871c3a8542  ...        top_rated  1112186813582303232
5814  25882744  ~01b14a1dabf0fee677  ...     not_eligible  1133519961023176704

[587 rows x 52 columns]

In [12]:
cols=["recno","ciphertext","portrait","lastActivity","smallPortrait","largePortrait","miniPortrait","personUid","uid"]

In [13]:
df2.drop(cols,axis=1,inplace=True)

In [14]:
df2

        shortName  ... topRatedStatusEx
0        Jason V.  ...        top_rated
1      Miranda S.  ...     not_eligible
2      Gagan S J.  ...     not_eligible
3       Roxana L.  ...     not_eligible
4         John M.  ...        top_rated
...           ...  ...              ...
5818     Megan D.  ...        top_rated
5819    Austin V.  ...     not_eligible
5820      Eric M.  ...     not_eligible
5821  Kristina A.  ...     not_eligible
5822    Ashley C.  ...        top_rated

[5823 rows x 43 columns]

In [15]:
loc=df2["location"].str.split(",")

In [16]:
country=[]
city=[]

In [17]:
loc[0][0].split(":")[1].strip()

"'United States'"

In [18]:
for row in loc:
    country.append(row[0].split(":")[1].strip())
    city.append(row[1].split(":")[1].strip())

In [19]:
len(country)

5823

In [20]:
df2["country"]=country
df2["locality"]=city

In [21]:
df2.drop("location",axis=1,inplace=True)

In [22]:
mon=df2["hourlyRate"].str.split(",")

In [23]:
mon[0][1].split(":")[1].strip()

'60}'

In [24]:
money=[]

In [25]:
for row in mon:
    money.append(row[1].split(":")[1].strip())

In [26]:
df2["hourlyRate"]=money

In [27]:
df2

        shortName                                              title  ...          country                  locality
0        Jason V.                         Expert WordPress Developer  ...  'United States'                 'Chicago'
1      Miranda S.                               Social Media Manager  ...  'United States'                    'Etna'
2      Gagan S J.                                 Solution Architect  ...  'United States'               'Princeton'
3       Roxana L.  Procurement, Logistics and Supply Chain profes...  ...  'United States'               'Cramerton'
4         John M.  3d generalist, post production artist and Vide...  ...  'United States'            'Broken Arrow'
...           ...                                                ...  ...              ...                       ...
5818     Megan D.  Web Research/Content Curation/Data Entry/Socia...  ...  'United States'  'San Francisco Bay Area'
5819    Austin V.                                    Product Manager  ...  'United States'                 'Phoenix'
5820      Eric M.        Web Developer/Designer And Graphic Designer  ...  'United States'                'Hilliard'
5821  Kristina A.  Voice Over Talent, video editing, video produc...  ...  'United States'                'Leesburg'
5822    Ashley C.                  Print and Digital Layout Designer  ...  'United States'                  'Eugene'

[5823 rows x 44 columns]

In [28]:
df2["hourlyRate"]=df2["hourlyRate"].str.extract(r'(\d+)', expand=False)

In [29]:
df2.drop("rankInfo",axis=1,inplace=True)

In [30]:
df2["titleSanitized"]

0                              Expert WordPress Developer
1                                    Social Media Manager
2                                      Solution Architect
3       Procurement, Logistics and Supply Chain profes...
4       3d generalist, post production artist and Vide...
                              ...
5818    Web Research/Content Curation/Data Entry/Socia...
5819                                      Product Manager
5820          Web Developer/Designer And Graphic Designer
5821    Voice Over Talent, video editing, video produc...
5822                    Print and Digital Layout Designer
Name: titleSanitized, Length: 5823, dtype: object

In [31]:
cols=df2.columns

In [32]:
cols=cols.values
cols[-4]="title"

In [33]:
df2.columns=cols

In [34]:
x=df2["shortNameSanitized"]==df2["shortName"]
x.sum()

5818

In [35]:
df2.drop("shortNameSanitized",axis=1,inplace=True)

In [36]:
df2[["totalHourlyJobs","totalFpJobs"]]

      totalHourlyJobs  totalFpJobs
0                  58           41
1                   5            1
2                   1            1
3                   5            7
4                   0            5
...               ...          ...
5818               96           23
5819                7            1
5820                7            1
5821                0            3
5822               48           28

[5823 rows x 2 columns]

In [37]:
cols=df2.columns.values
cols[-18]="totalJobs"
cols[-19]="totalHours"

In [38]:
df2.drop("totalJobs",axis=1,inplace=True)

In [39]:
df2

        shortName                                              title  ...          country                  locality
0        Jason V.                         Expert WordPress Developer  ...  'United States'                 'Chicago'
1      Miranda S.                               Social Media Manager  ...  'United States'                    'Etna'
2      Gagan S J.                                 Solution Architect  ...  'United States'               'Princeton'
3       Roxana L.  Procurement, Logistics and Supply Chain profes...  ...  'United States'               'Cramerton'
4         John M.  3d generalist, post production artist and Vide...  ...  'United States'            'Broken Arrow'
...           ...                                                ...  ...              ...                       ...
5818     Megan D.  Web Research/Content Curation/Data Entry/Socia...  ...  'United States'  'San Francisco Bay Area'
5819    Austin V.                                    Product Manager  ...  'United States'                 'Phoenix'
5820      Eric M.        Web Developer/Designer And Graphic Designer  ...  'United States'                'Hilliard'
5821  Kristina A.  Voice Over Talent, video editing, video produc...  ...  'United States'                'Leesburg'
5822    Ashley C.                  Print and Digital Layout Designer  ...  'United States'                  'Eugene'

[5823 rows x 40 columns]

In [40]:
df2["totalPassedTests"].unique()

array([0], dtype=int64)

In [41]:
df2.loc[:,df2.nunique()==1]

      totalPassedTests  hideJss  isVetted  isServiceProfile          country
0                    0        0     False             False  'United States'
1                    0        0     False             False  'United States'
2                    0        0     False             False  'United States'
3                    0        0     False             False  'United States'
4                    0        0     False             False  'United States'
...                ...      ...       ...               ...              ...
5818                 0        0     False             False  'United States'
5819                 0        0     False             False  'United States'
5820                 0        0     False             False  'United States'
5821                 0        0     False             False  'United States'
5822                 0        0     False             False  'United States'

[5823 rows x 5 columns]

In [42]:
cols=["totalPassedTests","hideJss","isVetted","isServiceProfile","highlighting","type"]
cols

['totalPassedTests',
 'hideJss',
 'isVetted',
 'isServiceProfile',
 'highlighting',
 'type']

In [43]:
df2.drop(cols,axis=1,inplace=True)

In [44]:
filt=df2["totalRevenue"]==df2["combinedTotalRevenue"]
filt=~filt
df2[filt]

         shortName                                              title  ...          country        locality
11         Mike B.     Mobile application and Web Developer (9 years)  ...  'United States'  "Lee's Summit"
34     Virinchi D.  Revenue Operations Expert (Sales, Marketing an...  ...  'United States'    'San Marcos'
37       Colton R.  Business Development Consultant- Strategy, Ana...  ...  'United States'       'Leawood'
46      Michele L.                          Brand Identity Consultant  ...  'United States'   'Gainesville'
48        Sarah K.                  UX/UI Designer for Web and Mobile  ...  'United States'        'Tucker'
...            ...                                                ...  ...              ...             ...
5801     Norman C.  Solution Architect | Microsoft Azure | Power B...  ...  'United States'   'Noblesville'
5809  Ramandeep S.        Website Devolpment, SEO, PPC and ORM expert  ...  'United States'    'Sacramento'
5811     Norman C.  Solution Architect | Microsoft Azure | Power B...  ...  'United States'   'Noblesville'
5813     Angela P.  EXPERT Executive Assistant + Small Business Op...  ...  'United States'      'New York'
5814   Jennifer R.          Social Media Strategist | Content Creator  ...  'United States'   'Los Angeles'

[757 rows x 34 columns]

In [45]:
df2["totalRevenue"].isna().sum()

587

In [46]:
df2["combinedTotalRevenue"].isna().sum()

587

In [47]:
filt=df2["description"]==df2["descriptionSanitized"]
filt=~filt
x=df2.loc[filt,["description","descriptionSanitized"]]

In [48]:
print(df2["descriptionSanitized"].isna().sum())
print(df2["description"].isna().sum())

0
0

In [49]:
df2.drop("descriptionSanitized",axis=1,inplace=True)

In [50]:
df2["skills"][0]

"[{'skill': {'name': 'wordpress', 'prettyName': 'WordPress'}, 'uid': '1052162208999198724', 'skillUrl': '/ab/profiles/search/skill/wordpress'}, {'skill': {'name': 'seo', 'prettyName': 'SEO'}, 'uid': '1031626778853490688', 'skillUrl': '/ab/profiles/search/skill/seo'}, {'skill': {'name': 'wp-ecommerce', 'prettyName': 'WordPress e-Commerce'}, 'uid': '1031626796662505472', 'skillUrl': '/ab/profiles/search/skill/wp-ecommerce'}, {'skill': {'name': 'woocommerce', 'prettyName': 'WooCommerce'}, 'uid': '1031626796331155456', 'skillUrl': '/ab/profiles/search/skill/woocommerce'}, {'skill': {'name': 'bootstrap', 'prettyName': 'Bootstrap'}, 'uid': '1031626720951123968', 'skillUrl': '/ab/profiles/search/skill/bootstrap'}, {'skill': {'name': 'website-development', 'prettyName': 'Website Development'}, 'uid': '1031626795337105408', 'skillUrl': '/ab/profiles/search/skill/website-development'}, {'skill': {'name': 'css', 'prettyName': 'CSS'}, 'uid': '1031626728794472448', 'skillUrl': '/ab/profiles/search/skill/css'}, {'skill': {'name': 'javascript', 'prettyName': 'JavaScript'}, 'uid': '996364628025274383', 'skillUrl': '/ab/profiles/search/skill/javascript'}, {'skill': {'name': 'php', 'prettyName': 'PHP'}, 'uid': '996364628025274385', 'skillUrl': '/ab/profiles/search/skill/php'}, {'skill': {'name': 'html', 'prettyName': 'HTML'}, 'uid': '1031626745110315008', 'skillUrl': '/ab/profiles/search/skill/html'}]"

In [51]:
import re

In [52]:
pattern = r"'prettyName':\s*'([^']*)'"
skill=[]
for text in df2["skills"]:
    if isinstance(text, str):  
        matches = re.findall(pattern, text)
        skill.append(matches)
    else:
        skill.append(np.nan)

In [53]:
len(skill)

5823

In [54]:
skill[584]

nan

In [55]:
df2["skills"].isna().sum()

8

In [56]:
df2["Skills"]=skill

In [57]:
df2

        shortName  ...                                             Skills
0        Jason V.  ...  [WordPress, SEO, WordPress e-Commerce, WooComm...
1      Miranda S.  ...  [Social Media Content Creation, Video Editing,...
2      Gagan S J.  ...  [Oracle Java EE, Spring Framework, Hibernate, ...
3       Roxana L.  ...  [Procurement Function, Pharmaceutical Industry...
4         John M.  ...  [Animation, Motion Graphics, Video Editing, Vi...
...           ...  ...                                                ...
5818     Megan D.  ...  [Data Entry, Internet Research, Virtual Assist...
5819    Austin V.  ...  [Atlassian JIRA, Atlassian Confluence, Project...
5820      Eric M.  ...  [HTML, CSS, WordPress, Shopify, Joomla, Drupal...
5821  Kristina A.  ...                                       [Articulate]
5822    Ashley C.  ...  [Layout Design, Brochure Design, Flyer Design,...

[5823 rows x 34 columns]

In [58]:
df2["Skills"]

0       [WordPress, SEO, WordPress e-Commerce, WooComm...
1       [Social Media Content Creation, Video Editing,...
2       [Oracle Java EE, Spring Framework, Hibernate, ...
3       [Procurement Function, Pharmaceutical Industry...
4       [Animation, Motion Graphics, Video Editing, Vi...
                              ...
5818    [Data Entry, Internet Research, Virtual Assist...
5819    [Atlassian JIRA, Atlassian Confluence, Project...
5820    [HTML, CSS, WordPress, Shopify, Joomla, Drupal...
5821                                         [Articulate]
5822    [Layout Design, Brochure Design, Flyer Design,...
Name: Skills, Length: 5823, dtype: object

In [59]:
df2.drop("skills",axis=1,inplace=True)

In [60]:
year=df2["memberSince"].str.split(",")

In [61]:
year = df2["memberSince"].str.split(",")
year = year.apply(lambda x: x[-1].strip() if isinstance(x, list) else x)
print(year)

0       2016
1       2019
2       2017
3       2019
4       2019
        ...
5818    2014
5819    2016
5820    2017
5821    2019
5822    2015
Name: memberSince, Length: 5823, dtype: object

In [62]:
df2["year"]=year

In [63]:
df2["year"]=pd.to_numeric(df2["year"])

In [64]:
df2.drop("memberSince",axis=1,inplace=True)

In [65]:
df2["description"]=df2["description"].apply(lambda x:x.replace("\n"," "))

In [66]:
df2["description"]=df2["description"].apply(lambda x:x.capitalize())

In [67]:
title=df2["title"]

In [68]:
df2

        shortName  ...  year
0        Jason V.  ...  2016
1      Miranda S.  ...  2019
2      Gagan S J.  ...  2017
3       Roxana L.  ...  2019
4         John M.  ...  2019
...           ...  ...   ...
5818     Megan D.  ...  2014
5819    Austin V.  ...  2016
5820      Eric M.  ...  2017
5821  Kristina A.  ...  2019
5822    Ashley C.  ...  2015

[5823 rows x 33 columns]

In [69]:
df2

        shortName  ...  year
0        Jason V.  ...  2016
1      Miranda S.  ...  2019
2      Gagan S J.  ...  2017
3       Roxana L.  ...  2019
4         John M.  ...  2019
...           ...  ...   ...
5818     Megan D.  ...  2014
5819    Austin V.  ...  2016
5820      Eric M.  ...  2017
5821  Kristina A.  ...  2019
5822    Ashley C.  ...  2015

[5823 rows x 33 columns]

In [70]:
cols=["topRatedStatus","isRecommended","hideEarnings","topTalentGroup","title","topRatedStatusEx","nss100","recentTotalFeedbacks","recentAvgFeedbackScore","recentHoursBilled","totalPortfolioItems","totalHoursBilled","combinedRecentEarnings","combinedAverageRecentEarnings","combinedRecentCharge","combinedAverageRecentCharge","combinedAverageRecentCharge","combinedTotalRevenue"]
df2.drop(cols,axis=1,inplace=True)

In [71]:
title.columns=["Title","title"]

In [72]:
df2["Title"]=title["Title"]

In [73]:
df2['locality']=df2["locality"].apply(lambda x:x.replace("'",""))

In [74]:
df2['country']=df2["country"].apply(lambda x:x.replace("'",""))

In [75]:
df2['description']=df2["description"].apply(lambda x:x.replace("/",","))

In [76]:
df2.head(1)

  shortName                                        description  ...  year                       Title
0  Jason V.  Hello! welcome to my profile!  my name is jaso...  ...  2016  Expert WordPress Developer

[1 rows x 16 columns]

In [77]:
df2["description"]

0       Hello! welcome to my profile!  my name is jaso...
1       I am a social media manager who specializes in...
2       More than 25 years in it with 20 years in us h...
3       I work fast - i am cost efficient - i deliver ...
4       I am a 3d artist, animator, and designer with ...
                              ...
5818    Extremely driven, yet easy-going gal who refus...
5819    Experienced in building and growing digital pl...
5820    4 years experience in  wordpress , shopify , d...
5821    A musician from birth. i studied music educati...
5822    Hello, i'm ashley, a professional designer and...
Name: description, Length: 5823, dtype: object

In [78]:
df2.drop(["combinedTotalEarnings","billedAssignments","totalActualHoursBilled"],axis=1,inplace=True)

In [79]:
df2["description"][20]

'I\'ve been a software qa engineer for 8+ years and worked in a wide range of qa projects. i was one of the first qa engineers for inbox at google.  ●\tuniversity degree in information technology ●       android developer nanodegree certificate ●       9+ years of software testing experience ●       2+ years of technical writing experience ●      worked on projects with known companies such as google, visa, surveymonkey, sutter health, tempur-pedic ●\texperience creating and using scripting languages for automated testing ●\tknowledge of software development life cycle (agile,scrum) and software testing life cycle ●\tperform functional, regression, acceptance, new features, browser compatibility and performance testing ●\ttested software applications on multiple mobile platforms ●\tworking knowledge of software testing methodology, tools, and techniques ●\twrite test documentation such as test plans, test cases, test matrices, check lists ●\twrite easy-to-follow bug reports, reproduce and verify bug fixes in new releases ●\table to multitask in high-pressure environment  recommendations from my linkedin profile:  "dmitry is a very professional qa expert. he is excellent at finding bugs especially on mobile apps and very knowledgeable, always sought the best solutions to problems. he is also open to learn new things, and is a quick learner. i will recommend him without hesitation.  "dmitry\'s work was exemplary. he helped me track down tricky bugs for several rush features with tight deadlines and vague specs -- qa\'s worst nightmare! he came through again and again. i couldn\'t have done it without him!"  "i worked with dmitry closely, testing complex virtual desktop management product: server and client parts both. during that time he showed a number of excellent technical and communication skills. dmitry is a highly focused, conscientious and responsive member of the qa team. he is always available to help, troubleshoot complex issues and mentor anyone in the quality assurance team. definitely consider dmitry for your organization."  "i\'ve had a pleasure managing dmitry as a qa engineer at mokafive. dmitry represents such qualities as attention to details, dedication and the ability to find the root cause of the issue in the product. he is very focused on investigating the issues, debugging the problem and working closely with developers to improve the quality of software. dmitry would be a great asset to any organization!"  us work authorization: us citizen  technical skills:  operating systems: windows 10,7,xp,2003, macos, linux mobile platforms: ios, android os mobile device automation: webdriver, appium, kif, testng, junit, allure languages: python, java, swift, unix shell, html  networking: tcp,ip, ftp, http, internet, intranet, active directory, apache virtualization: vmware, virtual box, virtual pc, vmware infrastructure client containerization: docker bug tracking: bugzilla, testlink, wiki, asana, jira debug tools: wireshark, procmon, charles, firebug game testing: unity content management: wordpress, php-nuke other: microsoft office suite, wireshark, procmon  certifications: ● 2014: webdriver, selenium, java, testng ● 2016: android developer nanodegree ● 2019: online teacher for otus platform (mobile qa engineer course)  other languages:  ● fluent russian (native speaker) ● intermediate spanish'

In [80]:
df2.isna().sum()

shortName             0
description           0
hourlyRate            0
avgFeedbackScore      0
totalFeedbacks        0
totalRevenue        587
totalHourlyJobs       0
totalHours            0
country               0
locality              0
Skills                8
year                  0
Title                 0
dtype: int64

In [81]:
df2

        shortName  ...                                              Title
0        Jason V.  ...                         Expert WordPress Developer
1      Miranda S.  ...                               Social Media Manager
2      Gagan S J.  ...                                 Solution Architect
3       Roxana L.  ...  Procurement, Logistics and Supply Chain profes...
4         John M.  ...  3d generalist, post production artist and Vide...
...           ...  ...                                                ...
5818     Megan D.  ...  Web Research/Content Curation/Data Entry/Socia...
5819    Austin V.  ...                                    Product Manager
5820      Eric M.  ...        Web Developer/Designer And Graphic Designer
5821  Kristina A.  ...  Voice Over Talent, video editing, video produc...
5822    Ashley C.  ...                  Print and Digital Layout Designer

[5823 rows x 13 columns]

In [82]:
df2["shortName"]=df2["shortName"].apply(lambda x:x.replace(" ",""))

In [83]:
df2["shortName"]=df2["shortName"].str.replace(".","")

In [84]:
df2["description"]=[f"{desc} and my skills are{skill}" for skill,desc in zip(df2["Skills"],df2["description"])]

In [85]:
df2["description"][0]

"Hello! welcome to my profile!  my name is jason. i am a hard-working, reliable freelance web developer. i love being in this line of work because i am passionate about technology, design, and innovation. i like doing freelance work because it gives me the freedom to choose when and how often i work. i am chicago-based, born and raised, and a native english speaker, which means quality communication during projects.   wordpress is my niche, and i think it is a great solution as a content management system for website design and development. it is user friendly, while at the same time offering unlimited potential to build unique websites with custom design and features.   combining wordpress with my skills in design as well as several coding languages, such as html, css, and javascript, i offer exceptional web development services at an affordable price. i have recently added gatsby.js to my toolkit, building several static sites that use wordpress as a headless cms.  i separate myself from other freelancers on upwork by being reliable and by communicating well with my clients. since i am chicago based, my normal work hours are 9-5 cst, monday through friday, although my schedule is flexible. i am always looking for new and challenging projects!  and my skills are['WordPress', 'SEO', 'WordPress e-Commerce', 'WooCommerce', 'Bootstrap', 'Website Development', 'CSS', 'JavaScript', 'PHP', 'HTML']"

In [86]:
df2=df2.loc[:,["shortName","description"]]

In [87]:
df2

      shortName                                        description
0        JasonV  Hello! welcome to my profile!  my name is jaso...
1      MirandaS  I am a social media manager who specializes in...
2       GaganSJ  More than 25 years in it with 20 years in us h...
3       RoxanaL  I work fast - i am cost efficient - i deliver ...
4         JohnM  I am a 3d artist, animator, and designer with ...
...         ...                                                ...
5818     MeganD  Extremely driven, yet easy-going gal who refus...
5819    AustinV  Experienced in building and growing digital pl...
5820      EricM  4 years experience in  wordpress , shopify , d...
5821  KristinaA  A musician from birth. i studied music educati...
5822    AshleyC  Hello, i'm ashley, a professional designer and...

[5823 rows x 2 columns]

In [88]:
df2.drop_duplicates(inplace=True)

In [89]:
df2.columns=["name","desc"]

In [90]:
df2["email"]=[f"{name}@mail.com" for name in df2["name"]]

In [91]:
df2=df2.loc[:,["desc","email"]]

In [92]:
df2

                                                   desc                email
0     Hello! welcome to my profile!  my name is jaso...      JasonV@mail.com
1     I am a social media manager who specializes in...    MirandaS@mail.com
2     More than 25 years in it with 20 years in us h...     GaganSJ@mail.com
3     I work fast - i am cost efficient - i deliver ...     RoxanaL@mail.com
4     I am a 3d artist, animator, and designer with ...       JohnM@mail.com
...                                                 ...                  ...
5806  Motivated & driven management accountant with ...  ShehneelaA@mail.com
5807  Awarded new "top rated plus" (success with lon...    MikhailC@mail.com
5808  I am a professional business intelligence data...       IgorB@mail.com
5809  I'm co-founder of prwebtechnologies.com and va...  RamandeepS@mail.com
5812  As an experienced remote professional, my expe...      JesseC@mail.com

[3795 rows x 2 columns]

In [93]:
df=pd.read_csv("data")

In [115]:
df

                                                   desc              email
0         Endtoend data services from data scraping ...    Jason@gmail.com
1         I am a PhD student in Computational Chemis...  Miranda@gmail.com
2         I am a data scientist and a problemsolver ...    Gagan@gmail.com
3         Hello Welcome to my profile I am a data sc...   Roxana@gmail.com
4         Do you need a Data Scientist or a Data Eng...     John@gmail.com
...                                                 ...                ...
3686      I am a math teacher and freelancer from Se...     Ryan@gmail.com
3687      HI my name is Maribel I graduated Bachelor...    Jamie@gmail.com
3688      I am a fulltime independent freelancer wor...    Goran@gmail.com
3689      5 years experience as a Transcriptionist g...    Wendy@gmail.com
3690      I am a freelance eCommerce store manager v...   Milena@gmail.com

[3691 rows x 2 columns]

In [117]:
df2["email"].drop_duplicates()

0           JasonV@mail.com
1         MirandaS@mail.com
2          GaganSJ@mail.com
3          RoxanaL@mail.com
4            JohnM@mail.com
               ...
5806    ShehneelaA@mail.com
5807      MikhailC@mail.com
5808         IgorB@mail.com
5809    RamandeepS@mail.com
5812        JesseC@mail.com
Name: email, Length: 3254, dtype: object

In [119]:
df["email"].drop_duplicates()

0          Jason@gmail.com
1        Miranda@gmail.com
2          Gagan@gmail.com
3         Roxana@gmail.com
4           John@gmail.com
               ...
3653     Herbert@gmail.com
3656    Edreleen@gmail.com
3681         Zak@gmail.com
3682       Urina@gmail.com
3683       Devon@gmail.com
Name: email, Length: 1347, dtype: object

In [101]:
df3=pd.read_csv("sfinal_data")

In [143]:
em = pd.concat([df3["email"], df2["email"]], ignore_index=True)

In [144]:
em.drop_duplicates(keep="first",inplace=True)

In [145]:
em = pd.concat([em, df2["email"]], ignore_index=True)

In [146]:
em

0            Laura@gmail.com
1            Divya@gmail.com
2         Jennifer@gmail.com
3        Valentina@gmail.com
4            Marta@gmail.com
                ...
13693    ShehneelaA@mail.com
13694      MikhailC@mail.com
13695         IgorB@mail.com
13696    RamandeepS@mail.com
13697        JesseC@mail.com
Name: email, Length: 13698, dtype: object

In [147]:
em.drop_duplicates(keep=False,inplace=True)

In [148]:
em

0           Laura@gmail.com
1           Divya@gmail.com
2        Jennifer@gmail.com
3       Valentina@gmail.com
4           Marta@gmail.com
               ...
6644          Zak@gmail.com
6645        Urina@gmail.com
6646        Devonz@mail.com
6647        Jamiez@mail.com
6648        Goranz@mail.com
Name: email, Length: 6649, dtype: object

In [150]:
df["email"]=em[:3691]

In [153]:
df["email"]=df["email"].drop_duplicates()

In [154]:
total = pd.concat([df, df2], ignore_index=True)

In [162]:
total["email"].drop_duplicates(inplace=True)

In [169]:
total["email"].duplicated().sum()

541

In [171]:
total=total.drop_duplicates(subset=["email"])

In [172]:
total=total.drop_duplicates(subset=["desc"])

In [173]:
total

                                                   desc                email
0         Endtoend data services from data scraping ...      Laura@gmail.com
1         I am a PhD student in Computational Chemis...      Divya@gmail.com
2         I am a data scientist and a problemsolver ...   Jennifer@gmail.com
3         Hello Welcome to my profile I am a data sc...  Valentina@gmail.com
4         Do you need a Data Scientist or a Data Eng...      Marta@gmail.com
...                                                 ...                  ...
7481  Motivated & driven management accountant with ...  ShehneelaA@mail.com
7482  Awarded new "top rated plus" (success with lon...    MikhailC@mail.com
7483  I am a professional business intelligence data...       IgorB@mail.com
7484  I'm co-founder of prwebtechnologies.com and va...  RamandeepS@mail.com
7485  As an experienced remote professional, my expe...      JesseC@mail.com

[6944 rows x 2 columns]

In [174]:
total.to_csv("test_data")